<!DOCTYPE html>
<html lang="en">
<head>
    <title>adduser</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addUser.js"></script>

</head>
<body>
    <h1>{{title}}</h1>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form id="userForm">
        <label>User Name:</label>
        <input type="text">
        <br>
        <br>
        <label>Email:</label>
        <input type="email">
        <br>
        <br>
        <label>Password:</label>
        <input type="password">
        <br>
        <br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>    
</body>
</html>