<!DOCTYPE html>
<html lang="en">
<head>
    <title>tasks</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/tasks.js"></script>
    <link rel="stylesheet" href="/css/tasks.css">
</head>
<body>
    <h1>Tasks</h1>
    <div>
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>
    <br>
    <br>
    <div id="div">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button>Delete</button>
    </div>
    </br>
    </br>
    <table id="tasks">
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type='checkbox'></td>
                <td>Reading</td>
                <td>Completed</td>
            </tr>
            <tr>
                <td><input type='checkbox'></td>
                <td>Writing</td>
                <td>Incompleted</td>
            </tr>
            <tr>
                <td><input type='checkbox'></td>
                <td>Reading</td>
                <td>Completed</td>
            </tr>
        </tbody>
    </table>
</body>
</html>