<html>

<head>
    <title>User</title>
    <script src="./js/jquery-3.6.1.js"></script>
    <script src="./js/users.js"></script>
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <h1>Users</h1>
    <div>
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>
    
    <br>
    <br>
    <div id="div">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button>Delete</button>
    </div>
    </br>
    </br>
    <table id="users">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type='checkbox'></td>
                <td>Arun</td>
                <td>arun@gmail.com</td>
                <td>123</td>
            </tr>
            <tr>
                <td><input type='checkbox'></td>
                <td>Ebi</td>
                <td>Ebi@gmail.com</td>
                <td>1234</td>
            </tr>
            <tr>
                <td><input type='checkbox'></td>
                <td>Suba</td>
                <td>suba@gmail.com</td>
                <td>1235</td>
            </tr>


        </tbody>
    </table>
</body>

</html>