#tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

a {
    color: grey;
    text-decoration: none;
    padding-right: 10px;
}

#div {
    float: right;
    width: 50%;
}


#tasks td,
#tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tasks tr:hover {
    background-color: #ddd;
}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}